main {
    width: 100%;
    margin: 0 20px 0 20px;
}

.main-container {
    margin: 2px;
}

#scroll-view-bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0 8px 0 8px;

    height: 56px;
}

.arrow {
    position: relative;
    padding: 10px;
    border-radius: 1000px;

    z-index: 100;
}

#left-arrow {
    left: 0px;
}

#rigth-arrow {
    right: 0px;
}

.arrow:hover {
    background-color: hsla(0, 0%, 53.3%, 0.4);
    cursor: pointer;
}

.mid-view-bar {
    min-width: 100%;
    overflow: hidden;
}

#scroll-view-bar-items {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    overflow: hidden;

    gap: 10px;
}

.scroll-view-bar-item {
    padding: 10px;
    border-radius: 10px;
    background-color: #272727;

    cursor: pointer;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 400;
    transition: 1s;
}

.scroll-view-bar-items:first-child {
    background-color: #f1f1f1;
}